form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 20px;
  width: calc(100% - 40px);
  border: 1px solid black;
}

input[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
