#main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
  gap: 10px;
  margin: 0;
  padding: 20px;

  background-color: #0c0c0c;
}

#main-nav ul a {
  text-decoration: none;
  color: #fff;
}

#main-nav ul a:hover {
  text-decoration: underline;
}

body > div {
  padding: 30px;
}

a.back::before {
  content: "⬅️";
  margin-right: 10px;
}

a.back {
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid #0c0c0c;
  background-color: mediumaquamarine;
  color: black;
}

body {
  font-size: 1.2em;
  text-align: center;
  color: black;
}

body > nav {
  font-size: 1em;
}

body > div {
  background-color: #fff;
  text-align: start;
  font-size: 1em;
  margin-bottom: 20px;
}

a.delete {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid red;
}

a.delete:hover {
  background-color: maroon;
}

a.edit {
  background-color: #0c0c0c;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #0c0c0c;
}

a.edit:hover {
  background-color: gray;
}

a.apply {
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid blueviolet;
}
